{% extends "base_generic.html" %}
{% load render_table from django_tables2 %}
{% block content %}

  <h1>Mobitrack Home</h1>
  <p>Welcome to Mobitrack, a application designed for tracking Pediatric ICU Patient's mobility exercise!</p>
  <h2>Latest Recorded Sessions & Periods</h2>
  <p>The following were the last recorded data:</p>

  <ul>
    <li><strong>Latest Wearing Sessions:</strong> 
      <div> {% render_table latestSessions %}
      </div>
    </li>
    <li><strong>Latest Exercise Periods:</strong> 
      <div> {% render_table latestPeriods %}
      </div>
    </li>
  </ul>
{% endblock %}